* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}
a {
  text-decoration: none;
  font-family: sans-serif;
  border: 2px double #3498db;
  padding: 2rem 5rem;
  color: aliceblue;
  overflow: hidden;
  position: relative;
  position: relative;
}
a:before {
  content: "DOWNLOAD";
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: aliceblue;
  color: black;
  transform: translateY(-100%);
  transition: all 1s;
  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover:before {
  transform: translateY(0);
}
